<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="${basedir}/logs/nlog-internal.log" >

  <targets>
    <target xsi:type="File" name="apilog"
            autoFlush="true" createDirs="true" encoding="UTF-8" 
            fileName="${basedir}/logs/接口报文/${shortdate}.log"
            layout="${longdate} ${level}#${message}"/>
    
    <target xsi:type="File" name="businessLog" createDirs="true" autoFlush="true" encoding="UTF-8" 
            archiveAboveSize="1048576" fileName="${basedir}/logs/业务日志/${shortdate}.log"
            layout="${longdate} ${level}#${message}"    />
    <target xsi:type="Database" name="db" commandText="insert into Log(Message,CreateTime) values(@message,@time)"
            connectionString="data source=127.0.0.1;initial catalog=NancyService;user id=sa;password=123456">
      <parameter name="@message" layout="${message}"></parameter>
      <parameter name="@time" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff}"></parameter>
    
    </target>
    <target xsi:type="File" name="systemLog" createDirs="true" autoFlush="true" encoding="UTF-8"
            archiveAboveSize="1048576" fileName="${basedir}/logs/系统日志/${shortdate}.log"
            layout="${longdate} [${level}] ${message}"   />
    <target xsi:type="ColoredConsole" name="coloredConsoleBusiness" useDefaultRowHighlightingRules="false" errorStream="true"
            layout="${longdate} ${level}  ${callsite} ${exception} ${stacktrace} ${message}"   >
      <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Fatal" />
      <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Error" />
      <highlight-row backgroundColor="Black" foregroundColor="Yellow" condition="level == LogLevel.Warn" />
      <highlight-row backgroundColor="Black" foregroundColor="DarkGreen" condition="level == LogLevel.Info" />
      <highlight-row backgroundColor="Black" foregroundColor="Gray" condition="level == LogLevel.Debug" />
      <highlight-row backgroundColor="Black" foregroundColor="DarkGray" condition="level == LogLevel.Trace" />
    </target>

    <target xsi:type="ColoredConsole" name="coloredConsoleSysLog" useDefaultRowHighlightingRules="false" errorStream="true"
        layout="${longdate} ${level} ${message}"   >
      <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Fatal" />
      <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Error" />
      <highlight-row backgroundColor="Black" foregroundColor="Yellow" condition="level == LogLevel.Warn" />
      <highlight-row backgroundColor="Black" foregroundColor="DarkGreen" condition="level == LogLevel.Info" />
      <highlight-row backgroundColor="Black" foregroundColor="Gray" condition="level == LogLevel.Debug" />
      <highlight-row backgroundColor="Black" foregroundColor="DarkGray" condition="level == LogLevel.Trace" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger enabled="true" minlevel="Debug" writeTo="apilog" name="apilog" />
    <logger enabled="true" minlevel="Debug" writeTo="businessLog,coloredConsoleBusiness" name="businessLog" />
    <logger enabled="true" minlevel="Debug" writeTo="systemLog,coloredConsoleSysLog" name="*" />
    <logger enabled="true" minlevel="Debug" writeTo="db" name="*" />
  </rules>
</nlog>